@media (max-width: 1024px){
    .banner__button{

    margin-bottom: 100px
    }
}
























/*@media (max-width: 1156px){
    .services__items{
        display: block;

    }
    .services__item{
        max-width: 80%;
        min-height: 330px;
        margin: 30px auto;
    }
    .form__inner{
        background-image: none;
    }
    .news__inner{
        display: block;
    }
    .news__slider{
        min-width: 100%;
        margin-bottom: 90px;
    }
    .news__blog{
        max-width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    .news__blog:after{
        content: "";
        clear: both;
        display: block;
    }
    .news__images{
        float: left;
        margin-right: 50px;
    }
}*/
